<h1><%= @project.title %></h1>
<%= link_to "Edit project", edit_project_path(@project) %>
<br>
<%= link_to "Back to projects", projects_path()%>
<%= button_to "Delete project", project_path(@project), method: :delete %>